* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.register-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form {
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 50vw;
    gap: 4em;
    box-shadow: 0 0 5px 5px rgb(229, 227, 227);
}

.title-message {
    position: relative;
    top: 40px;
}

.input-element {
    display: flex;
    flex-direction: column;
}

.input-element input {
    padding: .7em;
    outline: none;
    border: none;
    border-bottom: solid rgb(120, 118, 118) 1.5px;
    transition: border-width 2ms ease-in-out;
}

.input-element input:focus {
    border-width: 2px;
}

#login {
    padding: 1em;
    border: none;
    cursor: pointer;
    width: 10em;
    background-color: rgb(141, 93, 3);
    border-radius: 5px;
}